<% @photos.each do |photo| %>
    <div class="card">
      <div class="card-header">
        <div class="avatar">
          <%= image_tag Faker::Avatar.image(photo.username, '32x32') %>
          <%= photo.username %>
          <span class="timestamp pull-xs-right"><%= time_ago_in_words photo.created_at %></span>
        </div>

      </div>
      <img class="card-img-center" src=<%= photo.url %> alt="<%= photo.username %>">

      <div class="card-block">
        <%= render 'comment' %><br>
        <a href="#" class="btn btn-primary"><%= photo.likes_count %>&nbspLikes</a>
      </div>
    </div>
<% end %>
w